h1, h2 {
    text-align: center;
    color: goldenrod;
}

nav {
    text-align: center;
}

header {
    background-color: grey;
    border-radius: 10px;
}

@media only screen and (max-width: 700px) {
    header {
        background-color: purple;
    }
}

