h1, h2 {
    text-align: center;
    color: goldenrod;
}

nav {
    text-align: center;
}

header {
    background-color:black;
    border-radius: 30px;
}
body {
    background-color: palevioletred;
}
@media only screen and (max-width: 700px) {
    header {
         background-color: purple;
      }
}